<ion-content [fullscreen]="true" color="light">
  <div id="posicionamento">
    <ion-grid>
      <ion-row>
        <ion-scroll scrollY="true" maxZoom="0">
        </ion-scroll>

        <ion-col size="6">
          <ion-item>
            <ion-input Placeholder="Produto" [(ngModel)]="texto" ></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item>
            <ion-input Placeholder="$" [(ngModel)]="valor"></ion-input>
          </ion-item>
        </ion-col>

        <ion_col size="2">

          <ion-button size="medium" color="success" expand="block"   (click)="Salvar()">
            <ion-icon name="bag-add-outline"></ion-icon>
          </ion-button>

        </ion_col>


      </ion-row>

      <ion-row>

        <ion-col>
          <ion-item *ngFor = "let produto of variavel_lista; index as i">

            <ion-grid>

              <ion-row>

                <ion-col size="10" id="produto">
                  <ion-icon name="bag-handle-outline"></ion-icon>
                  {{produto[1][0]}}
                </ion-col>

                <ion-col size="6" id="valor">
                  <ion-icon name="cash-outline"></ion-icon>
                    {{produto[1][1]}}
                </ion-col>
              </ion-row>
              <ion-button size="small" color="danger" expand="block" (click)="Remover(produto[0])">
                <ion-icon name="bag-remove-outline"></ion-icon>
              </ion-button>
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item >
        <ion-icon color="success" name="logo-usd"></ion-icon>
      Resultado Total: {{soma}}
      </ion-item>
    </ion-grid>

  </div>



</ion-content>
